.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 30px;
  padding: 30px;
}

.contact-info {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 2rem;
}

.contact-icon {
  width: 50px;
}

.location-on-map {
  display: flex;
  justify-content: center;
}
