:root {
  --primary-color: #fff;
  --primary-background:  rgb(0, 0, 0, .7);
  --primary-red: rgb(222, 0, 0);
  --primary-container-border: 1px solid rgba(192, 192, 192, 0.3);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.content {
 background: url(/images/pizza-heavenly-slice-main-background.jpg);
 background-position: center;
 background-size: cover;
 height: auto;
}

/* header */
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 200px;
  background: var(--primary-background);
  border-bottom: var(--primary-container-border);
}

.restaurant-name {
  font-size: 4rem;
  color: var(--primary-color);
}

.header-keyword-hot {
  color: var(--primary-red);
}

.navbar-ul {
  list-style-type: none;
  display: flex;
  gap: 22px;
}

.navbar-links > a {
  font-size: 1.4rem;
  color: var(--primary-color);
  text-decoration: none;
}

.navbar-links:hover {
  cursor: pointer;
  transform: translateY(-5px);
  transition: .4s;
}

/* Main content */
.main-content {
  color: var(--primary-color);
  background: var(--primary-background);
  margin: 65px auto;
  max-width: 700px;
  border: var(--primary-container-border);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: 1.7rem;
  padding: 30px;
}

.chef-img {
  border-radius: 50%;
  height: 325px;
  width: 320px;
  opacity: 90%;
  object-fit: cover;
}

/* footer*/
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-background);
  border-top: var(--primary-container-border);
  height: 80px;
}

.footer-info {
  color: var(--primary-color);
  font-size: 1.4rem;
}

.footer-info > a {
  color: var(--primary-color);
}

.footer-info > a:hover {
  color: rgb(189, 179, 179);
}